In [ ]:
#r "nuget:Microsoft.DotNet.Interactive.SqlServer,*-*"

Error: C:\Users\zskreisz\.packagemanagement\nuget\Projects\11440--f0ae1c85-4e97-415e-8d8f-c7d2ebf33ca0\Project.fsproj : error NU1202: Package Microsoft.DotNet.Interactive.SqlServer 1.0.0-beta.23205.1 is not compatible with net6.0 (.NETCoreApp,Version=v6.0). Package Microsoft.DotNet.Interactive.SqlServer 1.0.0-beta.23205.1 supports: net7.0 (.NETCoreApp,Version=v7.0)
C:\Users\zskreisz\.packagemanagement\nuget\Projects\11440--f0ae1c85-4e97-415e-8d8f-c7d2ebf33ca0\Project.fsproj : error NU1202: Package Microsoft.DotNet.Interactive.SqlServer 1.0.0-beta.23205.1 is not compatible with net6.0 (.NETCoreApp,Version=v6.0) / win-x64. Package Microsoft.DotNet.Interactive.SqlServer 1.0.0-beta.23205.1 supports: net7.0 (.NETCoreApp,Version=v7.0)

SignedComment: ### Step 1: Create a Common Table Expression (CTE)

In [ ]:
    --NewCellBegin_0
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable
        -- DemoWhere: Where Column1 = 'example'

SignedComment: ### Step 2: Insert data into a temporary table

In [ ]:
    -- NewCellBegin_1
    SELECT
        Column1,
        Column2,
        Column3
    INTO
        #TempTable
    FROM
        cte_example
    -- DemoWhere: WHERE Column2 > 100

SignedComment: ### Step 3: Perform a final SELECT

In [ ]:
    -- NewCellBegin_2
    SELECT
        Column1,
        Column2,
        SUM(Column3) AS TotalColumn3
    FROM
        #TempTable
    GROUP BY
        Column1,
        Column2
    -- DemoWhere: TotalColumn3 > 1000

In [ ]:
    -- NewCellBegin_3
    ;WITH cte_example AS (
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable
        -- DemoWhere: Column1 = 'example'
    ),
    cte_example2 AS (
        -- NewCellBegin_4
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable
        -- DemoWhere: WHERE Column1 = 'example2'
        -- NewCellEnd_4
    )
    SELECT
        Column1,
        Column2,
        SUM(Column3) AS TotalColumn3
    FROM

        cte_example
    INNER JOIN
        cte_example2
    ON
        cte_example.Column1 = cte_example2.Column1

    GROUP BY
        Column1,
        Column2
    -- DemoWhere: WHERE TotalColumn3 > 1000

In [ ]:
        -- NewCellBegin_4
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable
        -- DemoWhere: WHERE Column1 = 'example2'